@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 class="d-inline-block text-primary text-uppercase border-bottom border-5">Dietetics</h3>

            </div>
            <div class="container">
                <img src="~/Specialities-Img/Dietetics.jpg" / style=" height: 70vh; width: 100%; background-size: cover;">
            </div>
            <br />
            <br />
            <div class="container">
                <div style=" width: 100%; color: black">
                    <p>
                        Making smart food and nutrition choices is a necessary part of our daily life. The Department of Nutrition and Dietetics at Guru Nanak Hospital, Mumbai
                    </p>
                </div>
                <div style=" color: black;">
                    @*<h3 style="color: #e1003d;">Services Available :</h3>
                        <p style="color:orange">Diagnostic Bronchoscopes</p>*@
                    <ul>
                        <li>Promotes individualized medical nutrition therapy in a multidisciplinary approach as a means to optimize patient care.</li>
                        <li>Prevents or minimizes the presence of malnutrition that often accompanies acute or chronic diseases.</li>
                        <li>Provides effective nutrition education to patients and family members in a variety of patient care settings.</li>
                        <li>Provides ongoing education in all aspects of nutrition.</li>
                    </ul>
                </div>
                <div style=" color: black;">
                    <p style="color: deepskyblue">The Department of Nutrition and Dietetics offers nutritional services and counselling for inpatients and outpatients. The department has highly trained nutritionists with experience in management of diverse patient groups viz.</p>
                    <ul>
                        <li>Adults.</li>
                        <li>Neonates and paediatrics.</li>
                        <li>Patients dealing with terminal illnesses and lifestyle diseases (diabetes, hypertension, metabolic syndromes, cardiac problems).</li>
                        <li>Patients recuperating post-surgery and infections.</li>
                        <li>Patients requiring medical nutrition therapy for GI diseases, kidney disorders, endocrine disorders, lung diseases, hepato-biliary disorders.</li>
                        <li>Individuals requiring nutrition care during special life-phases such as pregnancy, lactation, old age, disabilities altering nutritional intake.</li>
                        <li>Patients with specific conditions viz. allergies, lactose intolerance and malabsorption syndromes.</li>
                        <li>Weight management.</li>
                    </ul>
                    <p style="color:deepskyblue">Our Nutritionists work in close coordination with the doctors, clinical and nursing teams to ensure that patients receive appropriate nutritional support at all times. Patient-focused quality care is the center of everything for the department of Nutrition and Dietetics.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Guru Nanak Hospital & Research Centre</h4>

                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>S 341, near Collector Office, Gandhi Nagar, Bandra East, Mumbai, Maharashtra 400051, India.</p>
                    <p class="mb-2" style="margin-left:30px">
                        <i class="fa fa-envelope text-primary me-3" style=" margin-top: 4px; position: absolute; margin-left:-29px;">
                        </i>corporate@gurunanakhospital
                    </p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>18001025052</p>
                </div>
                <div class="col-lg-3 col-md-6" style="margin-left: 10%;">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="/Home/about"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="/Home/Services"><i class="fa fa-angle-right me-2"></i>Our Services</a>

                        <a class="text-light" href="/Home/Contact"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>