@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>

    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h3 style="color: #0075bf;">Obstetrics and Gynaecology</h3>

            </div>
            <div class="container">
                <img src="~/Specialities-Img/Obstetrics.jpg" / style=" height: 70vh; width: 100%; background-size: cover;">
            </div>
            <br />
            <br />
            <div class="container">
                <div style=" width: 100%; color: black">
                    <p>Guru Nanak Hospital, Mumbai has a dedicated Department of Obstetrics and Gynaecology, with a team which practices evidence based medicine and uses internationally accepted protocols.</p>
                    <p>Obstetricians are available round the clock and handle high risk pregnancies with the support of extremely well trained, experienced nurses and intensive care unit with all the required equipment and support staff. A paediatrician s present for all deliveries to handle any new born emergency.</p>
                </div>
                <div style=" color: black;">
                    <h3 style="color: #e1003d;">Treatments and Procedures :</h3>
                    <h5>Obstetric services</h5>
                    <ul>
                        <li>Contraceptive services</li>
                        <li>Medical Termination of Pregnancy services</li>
                        <li>Reproductive endocrinology (hormonal defects) and infertility</li>
                        <li>Pain management for labour and delivery</li>
                        <li>Reno vascular hypertension</li>
                    </ul>
                </div>
                <div style=" color: black;">
                    <h3 style="color: #e1003d;">Infertility services - On OPD basis</h3>
                    <ul>
                        <li>Care of the pregnant woman: comprehensive pre-natal care, exclusive labour suites, 24 hr surgical capability and anaesthesia support, complete maternal and fetal monitoring, immediate access to Neonatal ICU, etc.</li>
                        <li>High risk pregnancy including diabetes in pregnancy, pre-eclampsia and hypertensive disorder, previous or recurrent pregnancy loss, preterm labor and delivery, pregnancy with cardiac and any medical disorder</li>
                        <li>Multi-disciplinary care for co management of high risk pregnancies with endocrinologist, physician, anaesthetist, ultra sonologist, etc.</li>
                    </ul>
                </div>
                <div style=" color: black;">
                    <h3 style="color: #e1003d;">Gynaecological services</h3>
                    <ul>
                        <li>Management of dysfunctional uterine bleeding and other menstrual disorders</li>
                        <li>Management of polycystic ovarian disease, fibroids and endometriosis</li>
                        <li>Minimally invasive hysterectomy (removal of uterus)</li>
                        <li>Laparoscopic assisted tubal anastomosis, reversal of tubectomy, ligation/sterilization and diagnosis and treatment of ectopic pregnancy</li>
                        <li>Screening for cervical cancers and surgery for cancers of the female reproductive system</li>
                        <li>Uro-gynaecology</li>
                        <li>Evaluation and management of endocrine disorders (eg: prolactin, thyroid)</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Guru Nanak Hospital & Research Centre</h4>

                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>S 341, near Collector Office, Gandhi Nagar, Bandra East, Mumbai, Maharashtra 400051, India.</p>
                    <p class="mb-2" style="margin-left:30px">
                        <i class="fa fa-envelope text-primary me-3" style=" margin-top: 4px; position: absolute; margin-left:-29px;">
                        </i>corporate@gurunanakhospital
                    </p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>18001025052</p>
                </div>
                <div class="col-lg-3 col-md-6" style="margin-left: 10%;">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="/Home/about"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="/Home/Services"><i class="fa fa-angle-right me-2"></i>Our Services</a>

                        <a class="text-light" href="/Home/Contact"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>