
<head>
    <!--<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
    @* <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Saira:wght@500;600;700&display=swap" rel="stylesheet">*@
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
    <link href="~/All Css/css/css2.css" rel="stylesheet" />-->
    <!-- Icon Font Stylesheet -->
    <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">-->
    <!-- Libraries Stylesheet -->
    <!--<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">-->
    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/All css/css/bootstrap.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/All css/css/style.css" rel="stylesheet">

    @*<link href="~/All css/animate/animate.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">*@

    <style>
        .container-fluid {
            position: absolute;
        }

        a {
            text-decoration: none !important;
        }

        .action-links a {
            text-decoration: none !important;
        }

            .action-links a:hover {
                text-decoration: none !important;
            }

        .sb2-13 ul li a:after {
            margin-right: 80% !important;
        }
    </style>

</head>

<div class="container-fluid sb1">
    <div class="row">
        <!--== SEARCH ==-->
        <div class="col-md-6 col-sm-6 mob-hide">
            <form class="app-search">
                <input type="text" placeholder="Search..." class="form-control">
                <a href="#"><i class="fa fa-search"></i></a>
            </form>
        </div>

        <!--== MY ACCOUNT ==-->
        <div class="col-md-2 col-sm-3 col-xs-6">
            <!-- Dropdown Trigger -->
            <a class="waves-effect dropdown-button top-user-pro" href="#" data-activates="top-menu" style=" margin-left: 200%; position: absolute; margin-top: -25%; width: 80%;">
                <img src="~/Images/Allu Arjun.jpg" alt="">My Account <i class="fa fa-angle-down" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</div>


<!-- Sidebar Menu -->
<div class="sb2-13" style=" width: 20%; height: 120vh; margin-top:3.5%;">
    <div class="sb2-12" style="height:7vh;">
        @if (Session["UsernameorEmail"] != null)
        {
            <span>
                Welcome..!
                @Session["FirstName"] @Session["LastName"]

            </span>
        }

    </div>
    <ul class="collapsible" data-collapsible="accordion">

        <!-- Dashboard Section -->
        <li>
            <a href="/User/UserHome" class="menu-active" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-tachometer-alt" aria-hidden="true"></i>  <!-- Dashboard Icon -->
                Dashboard
            </a>
        </li>

        <!-- Donation Form Section -->
        <li>
            <a href="javascript:void(0)" class="collapsible-header" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-donate" aria-hidden="true"></i> Donation Form
            </a>
            <div class="collapsible-body left-sub-menu" style="padding: 19px; font-size: 16px; max-height: 700px;">
                <ul>
                    <li>
                        <a href="/User/DonationForm">Donation Form</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Donation History Section -->
        <li>
            <a href="javascript:void(0)" class="collapsible-header" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-history" aria-hidden="true"></i> Donation History
            </a>
            <div class="collapsible-body left-sub-menu" style="padding: 19px; font-size: 16px; max-height: 700px;">
                <ul>
                    <li>
                        <a href="/User/DonationHistory">Donation History</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Relative Info Section -->
        <li>
            <a href="javascript:void(0)" class="collapsible-header" style="color: white ;font-size: 15px; padding: 19px;">
                <i class="fa fa-users" aria-hidden="true"></i> Relative Info
            </a>
            <div class="collapsible-body left-sub-menu" style="padding: 19px; font-size: 16px; max-height: 700px;">
                <ul>
                    <li>
                        <a href="/User/RelativeInfo">Relative Info</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Blood Request Form Section -->
        <li>
            <a href="javascript:void(0)" class="collapsible-header" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-file-medical" aria-hidden="true"></i> Blood Request Form
            </a>
            <div class="collapsible-body left-sub-menu" style="padding: 19px; font-size: 16px; max-height: 700px;">
                <ul>
                    <li><a href="/User/BloodRequestForm">Blood Request Form</a></li>
                </ul>
            </div>
        </li>

        <!-- Blood Request History Section -->
        <li>
            <a href="javascript:void(0)" class="collapsible-header" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-history" aria-hidden="true"></i> Blood Request History
            </a>
            <div class="collapsible-body left-sub-menu" style="padding: 19px; font-size: 16px; max-height: 700px;">
                <ul>
                    <li>
                        <a href="/User/BloodRequestHistory">Blood Request History</a>
                    </li>
                </ul>
            </div>
        </li>

        <!-- Logout Section -->
        <li>
            <a href="/User/UserLogIn" class="menu-active" style="color: white; font-size: 15px; padding: 19px;">
                <i class="fa fa-sign-out-alt" aria-hidden="true"></i> <!-- Logout Icon -->
                Logout
            </a>
        </li>

    </ul>
</div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

<!-- jQuery Script to Toggle Dropdown on Click -->
<script>
    $(document).ready(function () {
        // Initially hide all collapsible bodies when the page is loaded
        $(".collapsible-body").hide();

        // When a collapsible header is clicked, toggle the visibility of the collapsible body
        $(".collapsible-header").click(function () {
            var nextElement = $(this).next(".collapsible-body");
            nextElement.slideToggle(); // Toggles visibility of the submenu
            // Close other open collapsible submenus
            $(".collapsible-body").not(nextElement).slideUp();
        });
    });
</script>

<div>
    @RenderBody()
</div>

