@model Hospital_System.Models.Gmail


@{
    ViewBag.Title = "Verify OTP";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify OTP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<style>
    .form-control {
        margin-bottom: 1rem;
        margin-left: 507px;
        width: 333px;
    }
    
</style>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Authentication Required</h2>

               @TempData["Message"]</div>
        

        @using (Html.BeginForm("VerifyOTP", "Email", FormMethod.Post, new { @class = "mt-4" }))
        {
            <div class="form-group">
                <label for="userEnteredOTP" style="margin-left:509px;"><b>Enter the OTP</b></label>
                <input type="text" name="userEnteredOTP" id="userEnteredOTP" class="form-control" required />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary">Verify OTP</button>
            </div>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
