@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>MEDINOVA - Hospital Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>



    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Our Doctors</h5>
                <h1 class="display-4">Qualified Healthcare Professionals</h1>
            </div>
            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/anil.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Anil G. Mehta (MBBS, DA, MD)</h6>
                            <p class="m-0" style="color:black;">
                                Dr. Anil Mehta is the founder & managing director of the clinics, across all four centers in Mumbai.He is also attached to Breach Candy hospital & Sir H.N Reliance hospital.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/Ajit.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Ajit G. Desai (MBBS DNB, MD)</h6>
                            <p class="m-0" style="color:black;">
                                Ajit G. Desai is a Consultant Interventional Cardiologist with the Cardiology department at Sir H. N.Reliance Foundation Hospital and Research Centre.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/neha.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Ms. Neha Chabria(MASLP)</h6>
                            <p class="m-0" style="color:black;">
                                Nehha Chabriaa is an Audiologist, Speech Therapist and Hearing Aid Dispenser.She is a Master Audiology,Speech-Language Pathology with more then 12years.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">

            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/revathy.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Revathy Kodakkal(MBBS, DNB, EDARM)</h6>
                            <p class="m-0" style="color:black;">
                                MBBS- Rajiv Gandhi University of Health Sciences,DNB Respiratory Medicine- KEM Hospital & Research Centre, Pune, EDARM- Hermes- Paris, 2022
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/ashish.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Ashish Castellino (MBBS, DNB)</h6>
                            <p class="m-0" style="color:black;">
                                Dr. Ashish Castellino is a National Board of Examinations certified Otolaryngologist. He obtained his MBBS degree at Terna Medical College in Navi Mumbai affiliated.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/rajkumar.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Rajkumar Tripathi(MBBS, MS)</h6>
                            <p class="m-0" style="color:black;">
                                Dr. Rajkumar Tripathi is a general surgeon in Mumbai, India with an MS in general surgery:
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">

            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/uddhavrag.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Uddhavraj Dudhedia(MBBS, MD, DGO, FCPS)</h6>
                            <p class="m-0" style="color:black;">
                                Dr. Anil Mehta is the founder & managing director of the clinics, across all four centers in Mumbai.He is also attached to Breach Candy hospital & Sir H.N Reliance hospital.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/suresh.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. Suresh Sawardekar(MD, PGDHSD)</h6>
                            <p class="m-0" style="color:black;">
                                24 yrs of work experience
                                2000-03 Hon. asst. physician, kurla bhabha municipal hospital
                                Hon. physician at VN Desai hospital
                                Hon. physician at Gurunanak hospital
                                Asian heart institute
                                Private practice since..
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/preeti.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">
                                Dr. preeti deshpande(MBBS, MS)
                            </h6>
                            <p class="m-0" style="color:black;">
                                She is trained in Advanced Endoscopy at IRCAD, France and is a Fellow of the Indian College of Obstetrics & Gynaecology (FICOG).
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid py-5">
        <div class="container">

            <div class="row g-5">
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/sanjay.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">
                                Dr. sanjay mongia
                                (MBBS, MCh)
                            </h6>
                            <p class="m-0" style="color:black;">
                                Sanjay Mongia, a Neurological & Gamma Knife Surgeon is suitably qualified and experienced enough to handle complex neurological disoders.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/sushil.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">
                                Dr. Sushil V. Tandel (MBBS, M.D. ,D.M. ,D.C.N.)
                            </h6>
                            <p class="m-0" style="color:black;">

                                Dr. Sushil V. Tandel is a highly experienced Neurophysician with over 25 years of dedicated service in the field of neurology.
                            </p>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4 col-lg-6">
                    <div class="bg-light rounded overflow-hidden">
                        <img class="img-fluid w-100" src="~/guru-img/rahul.jpg" alt="">
                        <div class="p-4">
                            <h6 style="color: #2108eb;">Dr. rahul deshpande(MBBS, DM, DNB, MD)</h6>
                            <p class="m-0" style="color:black;">
                                Dr. Rahul Deshpande is an eye surgeon and ophthalmologist in Pune, India with over 26 years of experience. He practices at S P Deshpande Eye Clinic in Narayan Peth.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light mt-5 py-5">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Guru Nanak Hospital & Research Centre</h4>
                    @*<p class="mb-4"> S 341, near Collector Office, Gandhi Nagar, Bandra East, Mumbai, Maharashtra 400051, India.</p>*@
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary me-3"></i>S 341, near Collector Office, Gandhi Nagar, Bandra East, Mumbai, Maharashtra 400051, India.</p>
                    <p class="mb-2" style="margin-left:30px">
                        <i class="fa fa-envelope text-primary me-3" style=" margin-top: 4px; position: absolute; margin-left:-29px;">
                        </i>corporate@gurunanakhospital
                    </p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary me-3"></i>18001025052</p>
                </div>
                <div class="col-lg-3 col-md-6" style="margin-left: 10%;">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Quick Links</h4>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Home</a>
                        <a class="text-light mb-2" href="/Home/about"><i class="fa fa-angle-right me-2"></i>About Us</a>
                        <a class="text-light mb-2" href="/Home/Services"><i class="fa fa-angle-right me-2"></i>Our Services</a>
                        @*<a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Meet The Team</a>
                            <a class="text-light mb-2" href="#"><i class="fa fa-angle-right me-2"></i>Latest Blog</a>*@
                        <a class="text-light" href="/Home/Contact"><i class="fa fa-angle-right me-2"></i>Contact Us</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">Newsletter</h4>
                    <form action="" style="width: 105%;">
                        <div class="input-group">
                            <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                            <button class="btn btn-primary" style=" margin-left: -7%;">Sign Up</button>
                        </div>
                    </form>
                    <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                    <div class="d-flex">
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

